*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    background-color: #8326D0;
}
.preload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #8326D0;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;

}
.preload h3{
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    color: black;
}
.complete{
    opacity: 0;
    pointer-events: none;
}
.bus{
    animation: bus 1s ease infinite alternate;
}
@keyframes bus {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(100px);
    }
    
}
.plane{
    animation: plane 2s ease infinite alternate;

}
@keyframes plane {
    from{
        transform: translateX(0px);
    
    }
    to{
        transform: translateX(100%);
    }
    
}
.plane{cursor:url("https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-repair-motor-sports-flaticons-lineal-color-flat-icons.png"),auto;}
.details{
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 90px 10px 90px #00ff84;
    outline: none;
    font-size: 40px;
    color: white;
    background-color: #FA3D3B;
    font-family: 'Rubik Dirt', cursive;
    animation: details 1s ease 1 alternate;
}
@keyframes details {
    from{
        transform: translateX(-50px);

    }
    to{
        transform: translateX(10px);
    }
    
}